<!DOCTYPE html>
<html lang="en">
<head>
    {%if user.is_authenticated%}
        <meta http-equiv="refresh" content="0; URL={%url 'home:home'%}">
        {%endif%}
    
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP| Login</title>
</head>
<body>
    <!-- {%if user.is_authenticated%}
    <h1>Login successful</h1>
    {%endif%} -->

    <form method="POST" action="{%url 'login'%}">
        {%csrf_token%}
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
        <a href="{%url 'password_reset'%}">
            <input type="button" value="Forgot Password?">
        </a>
        <input type="hidden" name="next" value="/home/">
    </form>
    
</body>
</html>