html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}


table thead {
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color:rgb(255, 255, 255) ;
    }
    
.container_main {
    /* background-color:rgb(138, 107, 22) ; */
    min-height: 100vh;
    height: 100vh;
}



.row_1 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 5vh;
    padding: 0px;
}



.row_2 {
    background-color: rgb(222, 231, 245);

    height: 95vh;
    padding: 0px;
}

.row_filter {
    
    min-height: 20%;
    margin: 0px;
    padding: 1rem;

    
}

.col_filter {
    background-color: white;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5vh;
    padding: 1rem;
}




.row_content {
    max-height: 80%;
    margin: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 73%;

}



.col_content {

    background-color: white;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5vh;
    padding: 1rem;
    height: 100%;
    overflow: auto;

}




.fixed-left, .fixed-right {
  position: fixed;
  width: 15rem;
  top: 5vh;
  bottom: 0;
}
.fixed-left {

    left: 0;
    padding-top: 10rem;
    min-height: 100%;
    height: 100%;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.fixed-right {
  right: 0;
  /* background: purple; */
  width: calc(100% - 15rem);
  max-height: 100%;
  
  
}


.accordion {
    width: 100%;
}

.accordion-button {
    width: 100%;
}

.firm_name {
    font-size: 2rem;
}