<div class="row" >
    <div class="col-sm-12 d-grid gap-2">
        <div class="display-3 text-center">Summary</div>
        <div>
            <table class="table table-dash">
                <thead class="text-center">
                    <th>Total Orders</th>
                    <th>Orders Delivered</th>
                    <th>Orders Undelivered</th>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td class="h1" >{{summary.total}}</td>
                        <td class="h1" style="color:green;" >{{summary.delivered}}</td>
                        <td class="h1" style="color:rgb(0, 17, 255);">{{summary.undelivered}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>