{%extends 'base/base.html'%}
{%block main_content%}

{%if order.dateDelivered%}
        <meta http-equiv="refresh" content="0; URL={%url 'frontend:purchasingOpen' order.id%}">
{%endif%}

<div class="row p-2">
    <div class="col-lg-12 shadow_box">
        <div class="display-6">
            Purchase Order#: {{order.poNumber}} | Part: {{part.name}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <input type="hidden" name="o_quantity" value="{{order.quantity}}">
            <input type="hidden" name="o_received" value="{{order.received}}">
            <input type="hidden" name="o_url" value="{{order.url}}">
            <input type="hidden" name="o_part" value="{{order.part}}">
            <input type="hidden" name="o_part_name" value="{{part.name}}">
        <div class="shadow_box d-grid gap-2 p-4">
                <div class="display-5 ">Receiving</div>
                <div class="row">
                    <div class="col-sm-6 h4">
                        <label for="r_completed_id">Order Complete?</label>
                    </div>
                    <div class="col-sm-6">
                        <select name="r_completed" id="r_completed_id" onchange="complete_check()" class="form-select">
                            <option value="0" selected>No</option>
                            <option value="1" >Yes</option>
                        </select>
                    </div>
                </div>
        
                <div  id="forhiding">
                    <div class="d-grid gap-2">

                        <div class="row">
                            <div class="col-sm-6 h4">
                                <label for="r_received_id">Quantity Received</label>
                            </div>
                            <div class="col-sm-6">
                                <input required type="number" id="r_received_id" class="form-control" name="r_received" >
                            </div>
                        </div>
            
                        <div class="row " >
                            <div class="col-sm-6 h4">
                                <label for="r_attachment_id">Attachment</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" id="r_attachment_id" name="r_attachment" class="form-control">
                            </div>
                        </div>
                
                        <div class="row " >
                            <div class="col-sm-6 h4">
                                <label for="r_data_rec_id">Date Received</label>
                            </div>
                            <div class="col-sm-6">
                                <input required class="form-control" type="date" name="r_date_received" id="r_data_rec_id">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row " id="datedeliv_row" style="display: none;">
                    <div class="col-sm-6 h4">
                        <label for="r_data_deliv_id">Date of fulfillment</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="date" name="r_date_delivered" id="r_data_deliv_id" form="order_close" required>
                    </div>
                </div>
        
    
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-primary btn-lg" type="submit" id="r_button">Submit</button>    
                    </form>
                        <form action="{%url 'frontend:purchasingClose'%}" method="post" id="order_close">
                            {%csrf_token%}
                            <input type="hidden" name="close_url" value="{{order.url}}">
                            <input type="hidden" name="close_part" value="{{order.part}}">
                            <input type="hidden" name="close_part_name" value="{{part.name}}">
                            <input type="hidden" name="close_order_quantity" value="{{order.quantity}}">
                            <input type="hidden" name="close_status" value="closed">
                            <input type="hidden" name="redirect_pk" value="{{order.id}}">
                            <button class="btn btn-warning btn-lg" type="submit" id="close_button" style="display:none ;">Close order</button>
                        </form>
                    </div>
                </div>

        </div>
    </div>
    <div class="col-lg-6">
        <form action="{%url 'frontend:purchaseEdit'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="e_url" value="{{order.url}}">

            <div class="shadow_box d-grid gap-2 p-4">
    
                <div class="display-5">Update Order</div>
                <div class="row">
                    <div class="col-sm-6 h4">
                        <label for="e_ponumber">PO Number</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" id="e_ponumber" name="e_ponumber" placeholder="{{order.poNumber}}">
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-sm-6 h4">
                        <label for="e_part">Part</label>
                    </div>
                    <div class="col-sm-6">
                        <select name="e_part" id="e_part">
                            <option value="{{part.url}}"  selected >{{part.name}}</option>

                            {%for obj in partlist%}
                            <option value='{{obj.url}}'>{{obj.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-sm-6 h4">
                        <label for="e_quantity">Quantity Ordered</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" id="e_quantity" name="e_quantity" placeholder="{{order.quantity}}">
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-sm-6 h4">
                        <label for="e_eta">ETA</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="date" id="e_eta"  name="e_eta">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-lg" type="submit">Update</button>
                            
                    </form>
                    </div>
                    <div class="col-sm-2">
                        <form action="{%url 'frontend:purchaseDelete'%}" method="post">
                            {%csrf_token%}
                            <input type="hidden" name="d_url" value="{{order.url}}">
                            <button class="btn btn-danger btn-lg">Delete</button>
                        </form>
                    </div>
                </div>

            </div>
    </div>
</div>

<!-- <div class="row bg-secondary" style="height:100% ; ">
    <div class="col-lg-12 bg-primary d-grid gap-2">
        <div class="display-5">Receiving Records</div>
        <table class="table ">
            <thead>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
            </thead>
            
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>

</div> -->

<script type="text/javascript">
    
    let dateDelivered = document.getElementById("datedeliv_row");
    let complete = document.getElementById("r_completed_id");
    let block = document.getElementById("forhiding");
    let submit = document.getElementById("r_button")
    let c_button =document.getElementById("close_button");
    let stillOnOrder = parseInt("{{order.quantity}}") -( parseInt("{{order.received}}") || 0);
    let quantityInput = document.getElementById("r_received_id");
    quantityInput.setAttribute('placeholder', stillOnOrder);
    

    function complete_check() {
        if (complete.value == 1){
            block.style.display = "none";
            c_button.style.display = "block";
            submit.style.display ="none";
            dateDelivered.style.display = "block";
            
        }

        else if (complete.value == 0) {
            block.style.display = "block";
            c_button.style.display = "none";
            submit.style.display ="block"
            dateDelivered.style.display = "none";
        }
        
    }

    


</script>

{%endblock main_content%}