{%extends 'base/base.html'%}
{%block main_content%}
<div class="row h-100 justify-content-center align-items-center" >
    <div class="col-4 d-grid gap-2">
        <div class="display-1 text-center">Working on it!</div>
        <div  class="tenor-gif-embed" data-postid="12875166" data-share-method="host" data-aspect-ratio="1.78" data-width="100%" >
            <a href="https://tenor.com/view/baboon-laptop-gif-12875166">Baboon Laptop GIF</a>
            from <a href="https://tenor.com/search/baboon-gifs">Baboon GIFs</a>
        </div> 
    </div>   
</div>

<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{%endblock main_content%}